<!-- about us -->
<div class="container-md mb-5 " id="about_us">
  <div class="row">
    <div class="col-12 text-lg-left text-center">
      <h3 class="color-dark font-weight-medium pb-3">
        ABOUT <span class="color-light"> US</span>
      </h3>
      <div class="mb-4">
        <p class="p-md-3">We are the students of NED University of engineering and technology completed our degree in
          computational finance and have build an online asset allocation model website for the mutual fund investors
          who are new to the market or who just want to know the best portfolio of their investment.
        </p>
      </div>
      <h3 class="color-dark font-weight-medium pb-3">
        OUR <span class="color-light"> TEAM</span>
      </h3>
      <div class=" mt-3">
        <h5 style="background-color: #192424;" class="text-white btn p-2 font-weight-medium bgc-dark ">QUAMBER NAQVI</h5>
        <h5 style="background-color: #192424;" class="text-white btn p-2 font-weight-medium bgc-dark ">FAREED KHAN</h5>
        <h5 style="background-color: #192424;" class="text-white btn  p-2 font-weight-medium bgc-dark ">MUHAMMAD OWAIS</h5>
        <h5 style="background-color: #192424;" class="text-white btn  p-2 font-weight-medium bgc-dark ">RUBA KHAN</h5>
      </div>
    </div>
  </div>
</div>