<!-- header -->
<div class="container hide-me" id="home">
  <div class="row vh-100">
    <div class="col-lg-6 align-self-center order-lg-1 order-2 col-12 text-lg-left text-center">
      <h1 class="display-3 color-dark font-weight-bold ">
        WHICH FUND IS BEST FOR <span class="color-light">YOU?</span>
      </h1>
      <p>Want to generate an optimized portfolio for islamic mutual fund's, A free
        Robo allocation service for Islamic mutual fund investor's
      </p>
      {% if log_in == 'log_out' %}
      <button class="My-Button-see-live rounded btn-lg px-4 text-left mt-md-0 mt-2 p-2 change-button"><a
          href="../auth/signup">Get
          Started
        </a>
      </button>
      <button class="My-Button-see-live-2 rounded ml-3 btn-lg px-5 text-left mt-md-0 mt-2 p-2"><a
          href="../auth/login">Login
        </a>
      </button>
      {% else %}
      <button class="My-Button-see-live rounded btn-lg px-4 text-left mt-md-0 mt-2 p-2 change-button"><a
        href="../profile/dashboard">My Dashboard
      </a>
    </button>
      {% endif %}
    </div>
    <div class="col-lg-6 order-lg-2 order-1 col-12 d-flex justify-content-center lottie-align">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player class="lottie" src="https://assets7.lottiefiles.com/packages/lf20_TWo1Pn.json"
        background="transparent" speed="1" loop autoplay></lottie-player>
    </div>
  </div>
</div>