<!-- what we offer -->
<div class="container-md mb-md-0 mb-5" id="offer">
  <div class="row height-change d-flex align-items-center ">
    <div class="col-12 text-lg-left text-center">
      <h3 class="color-dark font-weight-medium pb-3">
        WHAT WE <span class="color-light"> OFFER</span>
      </h3>
      <div class="mx-md-5 mb-4" style="border: 1px solid #26cfc2;">
        <h5 class="text-white p-3 font-weight-medium bgc-light ">Investor Profile Questionnaire</h5>
        <p class="p-3">Our Investor Profile Questionnaire tells the investor about his profile. Which kind of investor
          he or she is based on the answer that he/she has filled. You can either be a very aggressive investor or a
          very conservation investor or maybe you can fall in between these category. Our model is initialized with
          this questionnaire first.
        </p>
      </div>
      <div class="mx-md-5 mt-3" style="border: 1px solid #26cfc2;">
        <h5 class="text-white p-3 font-weight-medium bgc-light ">Investor Profile Dashboard</h5>
        <p class="p-3">After Completing filling our Risk Profile Questionnaire you will redirect to our Dashboard
          Page. which will be highlighting the complete portfolio profile. Listing all the funds that you should
          invest in it and the amount you want to invest and also showing you much more information regarding to your
          portfolio.
        </p>
      </div>
    </div>
  </div>
</div>